# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# gRPC source codes
*.pb.cc
*.pb.h

# Temporal file
*.swp

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# syntastic
.syntastic_clang_tidy_config
.syntastic_cpp_config

enbsim/enbsim
xranc/xranc

# IDE
.vscode
